<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/styles/head-and-foot.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Lumon</title>
</head>

<%- include("partials/header.ejs") %>

<body data-sort-column="<%= sortColumn %>" data-sort-direction="<%= sortDirection %>">
    
    <div id="container">
        
        <!-- <div id="menu-bar">
            <div id="menu-items">
                <h1>Lumon</h1>
                <div id="items">
                    <button class="item-button">Buy Crypto</button>
                    <button class="item-button">Markets</button>
                    <button class="item-button">Trade</button>
                </div>
            </div>
        </div> -->
        
        <% if(locals.trending && locals.crypto && locals.topGainer && locals.topLoser) { %>
            <div id="crypto-market-overview-box">
              

                <div class = "market-overview-card carousel-container">
                    <div class="market-overview-header title-sections">
                        <h2>Markets Overview</h2>
                    </div>

                    <div class="market-overview carousel">
                        
                        <!-- <div class="carousel-slide">

                     
                            
                        </div> -->

                        <div class="trending card">
                            <table class="all-crypto-table trend mark-t">
                                <tbody class="all-crypto-table-body mark-b ">

                                    <tr class="row-headers">
                                        <td class="table-data tab">
                                            <span class="header-span">
                                                <div class="header-div">
                                                    <div class="header-div-text">Trending</div>
                                                        <div class="header-div-image">
                                                            <img class="market-images" src="/images/flame-icon.png">
                                                        </div>
                                                </div>
                                            </span>
                                        </td>
                                            <!-- Trending<span><img class="market-images" src="/images/flame-icon.png"></span></td> -->
                                    </tr>

                                        <% trending.forEach(function(coin) { %>
                                            <tr class="row-data hidden" onClick="window.location.href='http://localhost:3000/coin/<%=coin.uuid%>'">
                                                <td class="table-data name"> <span class="image-block"><img class="crypto-image" src="<%=coin.iconUrl %>"></span> <span class="crypto-name"><%=  coin.symbol %></span> <span class="crypto-symbol"><%= coin.symbol %></span></td>
                                                <td class="table-data price"><%= coin.price %></td>
                                                <td class="table-data change p-column"><%= coin.change %></td>
                                            </tr>
                                        <% }); %>
                                    
                                
                                </tbody>
                            </table>
                        </div>
                    
                        <!-- <div class = "carousel-slide">
                          
                        </div> -->

                        <div class="top-gainers card">
                            <table>
                                <table class="all-crypto-table gainers mark-t">
                                    <tbody class="all-crypto-table-body mark-b ">
        
                                        <tr class="row-headers">
                                            <td class="table-data tab">
                                                <span class="header-span">
                                                    <div class="header-div">
                                                        <div class="header-div-text">Top Gainers</div>
                                                            <div class="header-div-image">
                                                                <img class="market-images" src="/images/up-arrow.png">
                                                            </div>
                                                    </div>
                                                </span>
                                            </td>
                                                <!-- Trending<span><img class="market-images" src="/images/flame-icon.png"></span></td> -->
                                        </tr>
        
                                            <% topGainer.forEach(function(coin) { %>
                                                <tr class="row-data hidden" onClick="window.location.href='http://localhost:3000/coin/<%=coin.uuid%>'">
                                                    <td class="table-data name"> <span class="image-block"><img class="crypto-image" src="<%=coin.iconUrl %>"></span> <span class="crypto-name"><%=  coin.symbol %></span> <span class="crypto-symbol"><%= coin.symbol %></span></td>
                                                    <td class="table-data price"><%= coin.price %></td>
                                                    <td class="table-data change p-column"><%= coin.change %></td>
                                                </tr>
                                            <% }); %>
                                        
                                    
                                    </tbody>
                                </table>
                            </table>
                        </div>

                        <!-- <div class="carousel-slide">
                            
                        </div> -->

                        <div class="top-losers card">
                            <table>
                                <table class="all-crypto-table losers mark-t ">
                                    <tbody class="all-crypto-table-body mark-b">
        
                                        <tr class="row-headers">
                                            <td class="table-data tab">
                                                <span class="header-span">
                                                    <div class="header-div">
                                                        <div class="header-div-text">Top Losers</div>
                                                            <div class="header-div-image">
                                                                <img class="market-images" src="/images/down-arrow.png">
                                                            </div>
                                                    </div>
                                                </span>
                                            </td>
                                                <!-- Trending<span><img class="market-images" src="/images/flame-icon.png"></span></td> -->
                                        </tr>
        
                                            <% topLoser.forEach(function(coin) { %>
                                                <tr class="row-data hidden" onClick="window.location.href='http://localhost:3000/coin/<%=coin.uuid%>'">
                                                    <td class="table-data name"> <span class="image-block"><img class="crypto-image" src="<%=coin.iconUrl %>"></span> <span class="crypto-name"><%= coin.symbol %></span> <span class="crypto-symbol"><%= coin.symbol %></span></td>
                                                    <td class="table-data price"><%= coin.price %></td>
                                                    <td class="table-data change p-column"><%= coin.change %></td>
                                                </tr>
                                            <% }); %>
                                        
                                    
                                    </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="carousel-buttons"> 
                        <button class="prev-btn" hidden>Previous</button>
                        <button class="next-btn" hidden>Next</button>
                    </div>
                </div>
              
            </div>
        
            
            <div id="crypto-box"  >
                <div class="crypto-coins">

                    <div class="crypto-coins-header title-sections">
                        <h2>Lumon Market Watch</h2>
                    </div>

                    <form id="myForm" method="post">
                        <table class="lumon-watch">
                        <thead class="lumon-watch-headers">
                            <tr class="row-headers">
                                <td class="tab ranks">#
                                    <div class="tab-box">
                                        <span class="tab-span"><button onclick= "changeRankUpArrowColor('rank')" type="submit" value="asc" name="up-arrow" class="up arrow" formaction="/sort-rank-asc"></button></span>
                                        <span class="tab-span"><button onclick= "changeRankDownArrowColor('rank')" type="submit" value="desc" name="down-arrow" class="down arrow" formaction="/sort-rank-desc"></button></span>
                                    </div>
                                </td>

                                <td class="tab names">Name</td>

                                <td class="tab coinPrice">Price
                                    <div class="tab-box">
                                        <span class="tab-span"><button onclick= "changeRankUpArrowColor('price')" type="submit" value="asc" name="up-arrow" class="up arrow price-up" formaction="/sort-price-asc"></button></span>
                                        <span class="tab-span"><button onclick= "changeRankDownArrowColor('price')" type="submit" value="desc" name="down-arrow" class="down arrow price-down" formaction="/sort-price-desc"></button></span>
                                    </div>
                                </td>
                              
                                <td class="tab mcap">Market Cap
                                    <div class="tab-box">
                                        <span class="tab-span"><button onclick= "changeRankUpArrowColor('mc')" type="submit" value="asc" name="up-arrow" class="up arrow mc-up" formaction="/sort-mc-asc"></button></span>
                                        <span class="tab-span"><button onclick= "changeRankDownArrowColor('mc')" type="submit" value="desc" name="down-arrow" class="down arrow mc-down" formaction="/sort-mc-desc"></button></span>
                                    </div>
                                </td>


                                <td class="tab percentage">24hr
                                    <div class="tab-box">
                                        <span class="tab-span"><button onclick= "changeRankUpArrowColor('24hr')" type="submit" value="asc" name="up-arrow" class="up arrow change-up" formaction="/sort-24-asc"></button></span>
                                        <span class="tab-span"><button onclick= "changeRankDownArrowColor('24hr')" type="submit" value="desc" name="down-arrow" class="down arrow change-down" formaction="/sort-24-desc"></button></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>

                        <tbody class="all-crypto-table-body">
                        
                                <% crypto.forEach(function(coin) { %>
                                    <tr class="row-data hidden" onClick="window.location.href='http://localhost:3000/coin/<%=coin.uuid%>'">
                                        <td class="table-data rank" ><%=coin.rank %></td>
                                        <td class="table-data crypto-name"><span class="image-block"><img class="crypto-image" src="<%=coin.iconUrl %>"></span> <span class="crypto-name"><%=  coin.symbol %></span> <span class="crypto-symbol"><%= coin.symbol %></span></td>
                                        <td class="table-data price"><%= coin.price %></td>
                                        <td class="table-data mc"><%= coin.marketCap %></td>
                                        <td class="table-data change" id="lumon-change"><%= coin.change %></td>
                                    </tr>
                                <% }); %>
                                
                        </tbody>
                        </table>
                        
                        <div class="pagination">
                            <a class="pagination-previous" onClick="decreasePageNumber(this)" href="http://localhost:3000/page-0">
                                <span class="pagination-text">Previous</span>
                            </a>

                            <a class="pagination-next"  onClick="increasePageNumber(this)" href="http://localhost:3000/page-0">
                                <span class="pagination-text">Next</span>

                            </a>
                        </div>
                    
                    </form>
                </div>
            </div>
        <% } %>

    </div>
  
    <script src="/scripts/carouselScript.js"></script>
    <script src="/scripts/arrowSettings.js"></script>
    <script src="/scripts/numberFormats.js"></script>
    <script src="/scripts/pageScript.js"></script>
    <script src="/scripts/rowAnimationTrigger.js"></script>
</body>

<%- include("partials/footer.ejs") %>

</html>

